---
export interface ImageButtonProps {
    image: string;
    title: string;
    link: string;
}

const { image, title, link } = Astro.props as ImageButtonProps;
---
<div class="image-btn-wrap">
    <img class="image-btn" src={image} alt="" loading="lazy"/>
    <a href={link} class="img-link"><span>{title}</span></a>
    <div class="btn-underline"></div>
</div>

<style>
    .image-btn-wrap {
        position: relative;
        width: 100%;
        aspect-ratio: 16/9;
        overflow: hidden;
    }
    .image-btn {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
        transition: filter 0.3s ease;
    }
    .img-link {
        position: absolute;
        padding-bottom: 1.5rem;
        padding-left: 1.5rem;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        margin-top: 1.5rem;
        font-family: var(--title-font);
        font-size: 2.5rem;
        font-weight: 500;
        color: var(--white);
        text-transform: uppercase;
        text-decoration: none;
        background-color: var(--green-60);
        margin: 0;
        box-sizing: border-box;
    }
    .btn-underline {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1rem;
        background-color: var(--wheat-500);
        transition: height 0.3s ease;
        z-index: 1;
    }
    .img-link > span {
        z-index: 2;
    }
    .image-btn-wrap:hover .btn-underline {
    height: 2.5rem;
    transition: height 0.3s ease;
    }
    .image-btn-wrap:hover .image-btn {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        transition: filter 0.3s ease;
    }
    
</style>