<a href="#main-content" class="skip-main">Skip to Main Content</a>

<style>
    .skip-main {
        position: absolute;
        top: -60px;
        left: 0;
        background-color: var(--wheat-500);
        color: var(--green-500);
        font-family: var(--title-font);
        font-size: 1.25rem;
        z-index: 1001;
        padding: 1rem;
        text-decoration: none;
    }

.skip-main:focus {
    top: 5px;
    left: 5px;
}
</style>