---
import BaseHead from "../components/BaseHead.astro";
import SkipMain from "../components/buttons/SkipMain.astro";
import InventoryCard from "../components/InventoryCard.astro";
import NavMain from "../components/NavMain.astro";
import ServiceBanner from "../components/ServiceBanner.astro";
---
<!DOCTYPE html>
<html lang="en">
	<BaseHead 
	title="West Valley Golf Cars | Golf Cart Sales, Service, and Rentals in Arizona"
	description="West Valley Golf Cars is Arizona's premier golf cart dealer. We offer new and used golf carts, golf cart rentals, golf cart parts, and golf cart service."
	keyworkds=""
	image=""
	url="" 
	/>
	<body>
		<SkipMain />
		<header>
			<NavMain />
			<div class="top-banner"></div>
		</header>
		<main id="main-content">
			<section class="hero-home">
				<div class="padding-hero">
					<div class="container">
						<div class="wrapper column-hero">
							<div class="wrapper">
								<h1 class="page-title">Arizona's Premier Golf Cart<span class="underline"> Destination</span> for Over 20 Years</h1>
								<p class="text">For over 20 years, we’ve been serving the West Valley with top-notch golf cart sales, service, and rentals, always with a friendly smile. Whether you're looking for a reliable ride or a custom-built cart to turn heads, our team in Litchfield Park has you covered. Let us help you find the perfect cart to suit your needs and style, so you can enjoy every moment on the course and beyond.</p>
								<div class="btn-wrapper">
									<a href="/golf-carts" class="btn">View Our Inventory</a>
									<a href="/contact" class="btn secondary">Contact Us</a>
								</div>
								<div class="mt-2">
									<p class="small-text bold-gray"><strong>Authorized Dealers of:</strong></p>
									<div class="logo-wrapper">
										<img src="/public/images/logos/madjax.svg" alt="MadJax logo" class="logo-small" loading="lazy"/>
										<img src="/public/images/logos/ecobattery.svg" alt="Eco Battery logo" class="logo-small" loading="lazy"/>
										<img src="/public/images/logos/bluetees.svg" alt="Blue Tees logo" class="logo-small" loading="lazy"/>
										<img src="/public/images/logos/trojan.svg" alt="Trojan Battery logo" class="logo-small" loading="lazy"/>
									</div>
								</div>
							</div>
							<img src="/public/images/static/2024-madjax_blue.webp" alt="2024 Madjax Blue Golf Cart" class="hero-img" loading="eager"/>
						</div>
					</div>
				</div>
			</section>
			<ServiceBanner />
			<section>
				<div class="large-top">
					<div class="container">
						<div class="wrapper column-l">
							<img src="/public/images/static/2023-madjax_navy.webp" alt="2023 Madjax Navy Golf Cart" class="img cart" loading="lazy"/>
							<div class="wrapper">
								<h2 class="section-title">Get Yourself In The New 2024 <span class="underline">MadJax</span> X-Series</h2>
								<p class="text">Introducing the latest innovation from the top-tier golf cart parts and accessories brand—a golf cart that not only boasts unmatched style but also offers unparalleled comfort. The MadJax X-Series takes your golfing experience to new heights. With a remarkable 3-year warranty, an all new digital display, and readily available replacement parts and accessories, this exceptional cart ensures that having a blast is effortlessly attainable.</p>
								<div class="btn-wrapper">
									<div class="sub-title">Starting at $15,930</div>
									<a href="/contact" class="btn">Check Availability</a>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
	</body>