---
import BaseHead from '../components/BaseHead.astro'
import InventoryCardWrap from '../components/InventoryCardWrap.astro';
import LogoWrap from '../components/LogoWrap.astro';
import NavMain from '../components/NavMain.astro'
import ServiceBanner from '../components/ServiceBanner.astro';
import SkipMain from "../components/buttons/SkipMain.astro";
import ArrowButton from "../components/buttons/ArrowButton.astro";
import GeneralForm from '../components/forms/GeneralForm.astro';
import FooterMain from '../components/FooterMain.astro';
---
<!DOCTYPE html>
<html lang="en">
	<BaseHead 
        title="Golf Cart Sales | West Valley Golf Cars | New and Used Golf Carts in Arizona"
        description="Shop the best selection of new and used golf carts at West Valley Golf Cars. We offer a wide variety of golf carts for sale, including top brands and custom builds. Serving Arizona's West Valley region."
        keywords="golf cart sales, new golf carts, used golf carts, custom golf carts, West Valley, Arizona"
        image="/images/opengraph/sales-page.webp"
        url="https://www.westvalleygolfcars.com/open-graph_main.webp"
	/>
	<body class="page-transition-enter">
		<SkipMain />
		<header>
			<NavMain data-aos="fade-down" />
		</header>
		<main id="main-content">
            <section class="hero-home" data-aos="fade-up">
                <div class="top-banner"></div>
                <div class="background-image"></div>
                <div class="padding-hero">
                    <div class="container">
                        <div class="wrapper column-hero">
                            <div class="wrapper">
                                <h1 class="page-title" data-aos="fade-up">Find the <span class="underline">Perfect</span> Cart at West Valley Golf Cars</h1>
                                <p class="text" data-aos="fade-up">At West Valley Golf Cars, we’re dedicated to helping you find the ideal golf cart to match your style, needs, and budget. Whether you're searching for a new model, a reliable used cart, or a custom build that’s one-of-a-kind, we’ve got a wide selection ready for you. Explore our inventory and discover the perfect fit for your adventures on the course or around town.</p>
                                <div class="btn-wrapper" data-aos="fade-up">
                                    <a href="#inventory" class="btn">View Our Current Inventory</a>
                                </div>
                            </div>
                            <img src="/images/static/sales-home.webp" alt="Man with a brand new club car from WVGC" class="img-main hero" loading="eager" data-aos="fade-left" />
                        </div>
                    </div>
                </div>
            </section>
            <ServiceBanner data-aos="fade-up" />
            <section id="inventory" data-aos="fade-up">
                <div class="padding-global">
                    <div class="container">
                        <LogoWrap 
                        logoSize="logo-large"
                        text="large-text" />
                        <div class="mt-4">
                            <h2 class="section-title">Our <span class="underline">Current</span> Inventory</h2>
                            <InventoryCardWrap data-aos="fade-up" />
                            <p class="text" data-aos="fade-up">*We strive to reflect the most accurate current pricing on our website. However, there may be errors, price changes, or other discrepancies. Please inquire with our sales team to obtain the most accurate and up-to-date pricing information.*</p>
                        </div>
                    </div>
                </div>
            </section>
            <section data-aos="fade-up">
                <div class="padding-global">
					<div class="container">
						<div class="wrapper column vert-center">
                            <img src="/images/static/west valley edition.webp" alt="West Valley Golf Cars West Valley Edition" class="img-main" loading="lazy" data-aos="zoom-in"/>
							<div class="wrapper" data-aos="fade-right">
								<h2 class="section-title">Check Out the WVGC Exclusive <span class="underline">West Valley Edition</span> Golf Cart</h2>
								<p class="text">Every West Valley Edition Golf Cart is thoughtfully reconstructed from the foundation up, merging exceptional craftsmanship with cutting-edge features for a ride that's in a class of its own. Boasting striking aesthetics and seamless performance, this edition offers more than a simple trip—it delivers an adventure rich in comfort and elegance. Whether you're navigating the fairways or enjoying a leisurely drive in your community, the West Valley Edition Golf Cart is crafted to turn every journey into an unforgettable experience.</p>
                                <ArrowButton slug="mailto:info@westvalleygolfcars.com" aria="Learn more about West Valley Custom carts" text="Contact Sales for More" />
							</div>
						</div>
					</div>
				</div>
            </section>
            <section data-aos="fade-up">
				<div class="padding-global">
					<div class="container">
						<h2 class="section-title center">Let's Get you into your <span class="underline">Dream</span> Cart today</h2>
						<GeneralForm data-aos="fade-up" />
					</div>
				</div>
			</section>
		</main>
		<footer>
			<FooterMain />
		</footer>
	</body>
	<script>
        import * as AOS from 'aos';
        import 'aos/dist/aos.css';

		AOS.init({
			duration: 800,  // Set the duration for all animations
			once: true,  // Animate only once when scrolling
			easing: 'ease-in-out',  // Easing function for smooth animation
		});
	</script>
</html>
