---
import BaseHead from "../components/BaseHead.astro"
import SkipMain from "../components/buttons/SkipMain.astro"
import FooterMain from "../components/FooterMain.astro"
import NavMain from "../components/NavMain.astro"
---
<!DOCTYPE html>
<html lang="en">
    <BaseHead 
        title="About West Valley Golf Cars | Family-Owned Golf Cart Dealership in Arizona"
        description="Learn about West Valley Golf Cars, a family-owned golf cart dealership serving Arizona since 2000. Discover our mission, history, and commitment to quality service for new and used golf carts, rentals, parts, and repairs."
        keywords="about West Valley Golf Cars, family-owned golf cart dealer, Arizona golf carts, golf cart service, golf cart dealership, West Valley Arizona"
        image="/images/opengraph/open-graph_team.webp"
        url="https://www.westvalleygolfcars.com/about"
    />
    <body class="page-transition-enter">
        <SkipMain />
        <main id="main-content">
            <section class="hero-home" data-aos="fade-up">
                <div class="background-image" aria-hidden="true"></div>
                <div class="padding-hero">
                    <div class="container">
                        <div class="wrapper hero">
                            <div class="wrapper">
                                <h1 class="page-title center" data-aos="fade-up">Thank You <span class="underline">For</span> Your Form Submission</h1>
                                <p class="text short center" data-aos="fade-up">Thank you for reaching out to West Valley Golf Cars! We look forward to assisting you with your golf cart needs. A representative will be in contact with you soon.</p>
                                <div class="btn-wrapper center">
                                    <a href="/" class="btn">Return to Home</a>
                                    <a href="tel:623-882-0222" class="btn secondary">Give Us a Call</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <FooterMain />
        </footer>
    </body>
</html>

<style>
    .hero {
        position: relative;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .center {
        justify-content: center;
        align-items: center;
    }
</style>