<div class="service-banner">
    <div class="padding-global banner">
        <div class="container">
            <div class="banner-wrapper">
                <p class="section-title white center" role="heading">
                    Sales<span class="wheat"> • </span>Service
                    <span class="wheat"> • </span>Parts
                    <span class="wheat"> • </span>Rentals
                    <span class="wheat"> • </span>Storage
                </p>
            </div>
        </div>
    </div>
</div>