/* Customizing Flatpickr calendar */
.flatpickr-calendar {
    font-family: 'nunito-sans', sans-serif !important; 
    background-color: var(--white) !important; 
    box-shadow: var(--shadow) !important;
}

.flatpickr-months {
    background-color: var(--white) !important;
}

.flatpickr-day {
    font-family: 'nunito-sans', sans-serif !important;
    color: var(--green-500) !important;
}

.flatpickr-day:hover, .flatpickr-day:focus {
    background-color: var(--wheat-500) !important; 
    color: white !important;
}

.flatpickr-day.selected {
    background-color: var(--green-500) !important; 
    color: white !important; 
}

.flatpickr-day.today {
    background-color: var(--green-200) !important; 
    color: var(--green-500) !important;
}

/* Ensure the time picker uses your custom colors */
.flatpickr-time {
    background-color: #f5f5f5;
    color: #334843;
}

.flatpickr-time input {
    color: #334843;
}

.flatpickr-day.disabled, .flatpickr-day.disabled:hover {
    background-color: var(--gray-200) !important; /* Adjust this color to make it light gray */
    color: var(--gray-100) !important; /* Adjust text color for readability */
    cursor: not-allowed !important;
}
.flatpickr-day.weekend {
    background-color: var(--gray-100) !important; /* Adjust this color to make it lighter gray for weekends */
    color: var(--gray-600) !important;
}