/* Root Styles */
:root {
/* Colors */
    --green-100: #D6E3E1;
    --green-200: #ADC7C2;
    --green-300: #85A9A3;
    --green-400: #5C7C76;
    --green-500: #334843;
    --green-600: #2C3E3A;
    --green-700: #23322E;
    --green-800: #1A2624;

    --wheat-100: #faf3e7;
    --wheat-200: #e9dab8;
    --wheat-300: #e0cc9f;
    --wheat-400: #d8be87;
    --wheat-500: #d5b880; 
    --wheat-600: #c0a472;
    --wheat-700: #a88c5f;
    --wheat-800: #846f4b;
    --wheat-900: #63553a;


    --gray-100: #F6F6F6;
    --gray-200: #D5D5D5;
    --gray-300: #BFBFBF;
    --gray-400: #9A9A9A;
    --gray-500: #414042;
    --gray-600: #363537;
    --gray-700: #2B2A2C;
    --gray-800: #201F20;

    --white: #FFFFFF;
    --black: #050505;

    /* Transparencies */
    --green-90: rgba(51, 72, 67, 0.9);
    --green-60: rgba(51, 72, 67, 0.6);
    --green-30: rgba(51, 72, 67, 0.3);

    /* Gradients */
    --gradient-green: linear-gradient(180deg, var(--green-500) 0%, var(--green-700) 100%);
    --gradient-wheat: linear-gradient(180deg, var(--wheat-700) 0%, var(--wheat-300) 100%);

    /* Shadows */
    --shadow-color: rgba(26, 38, 36, 0.15);
    --shadow: 
        0px 2px 8px rgba(0, 0, 0, 0.1), 
        0px 4px 15px rgba(0, 0, 0, 0.05)
    ;
    /* Fonts */
    --title-font: 'cheap-pine-sans', sans-serif;
    --title-style: normal;
    --body: 'nunito-sans', sans-serif;

    /* Font Sizes */
    --page-title: clamp(3rem, 5vw + 1rem, 5rem);
    --section-title: clamp(3rem, 4vw + 1rem, 5rem);
    --sub-title: clamp(1.5rem, 2vw + 0.5rem, 2.25rem);
    --md-title: clamp(2rem, 3vw + 0.5rem, 3rem);
    --large-text: clamp(1.125rem, 1.5vw + 0.5rem, 1.25rem);
    --text: clamp(1rem, 1vw + 0.5rem, 1.125rem);
    --small-text: clamp(0.75rem, 1vw + 0.25rem, 1rem);

    /* Padding */
    --side: clamp(1rem, 5vw, 3rem);
    --vertical: clamp(2rem, 5vw, 4rem);
    --lg-vertical: clamp(4rem, 5vw, 8rem);
    --hero: clamp(4rem, 14rem, 14rem);
    --small: 0.25rem;
    --nav: 1rem;

    /* Transitions */
    --hover: all 0.2s ease-in-out;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    overflow-x: hidden;
    position: relative;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: var(--gray-100);
    ::selection {
        background-color: var(--wheat-500);
        color: var(--green-500);
    }
    
}
* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title-font);
    font-style: var(--title-style);
    color: var(--green-500);
    margin: 0;
    padding: 0;
}

h1 {
    font-size: var(--page-title);
    line-height: 1;
    font-weight: 500;
}
h2 {
    font-size: var(--section-title);
    line-height: 1;
    font-weight: 500;
}
h3 {
    font-size: var(--md-title);
    line-height: 1;
    font-weight: 500;
}
h4 {
    font-size: var(--large-text);
    line-height: 1;
    font-weight: 500;
}

p {
    font-family: var(--body);
    font-size: var(--text);
    color: var(--gray-700);
    line-height: 1.3;
    margin-top: 1rem;
    padding: 0;
}

li {
    font-family: var(--body);
    font-size: var(--text);
    color: var(--gray-700);
    line-height: 1.3;
    margin-top: 0.75rem;
    padding: 0;
    list-style:disc;
}

.img-main {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: var(--shadow);
    border-radius: 0.125rem;
}
.hero {
    margin-top: -5rem;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

:focus-visible {
    outline: 3px solid var(--wheat-500);
    outline-offset: 3px;
}

/* Section Styles */
.background-image {
    position: absolute;
    background-image: url("/images/backgrounds/bg-image-cactus.webp");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.5;
    mix-blend-mode: multiply;
}
.hero-home {
    position: relative;
    z-index: 100;
}
.service-banner {
    background-color: var(--green-500);
    border-top: 6px solid var(--wheat-500);
    border-bottom: 6px solid var(--wheat-500);
}

/* Top Banner */
.top-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 12rem;
    background-image: var(--gradient-green);
    mix-blend-mode: multiply;
    border-bottom: var(--wheat-500) 6px solid;
}

/* Padding */
.padding-hero {
    padding-top: var(--hero);
    padding-bottom: var(--vertical);
    padding-left: var(--side);
    padding-right: var(--side);
}

.padding-global {
    padding: var(--vertical) var(--side);
}

.large-top {
    padding-top: var(--lg-vertical);
    padding-bottom: var(--vertical);
    padding-left: var(--side);
    padding-right: var(--side);
}

.large-bottom {
    padding-top: var(--vertical);
    padding-bottom: var(--lg-vertical);
    padding-left: var(--side);
    padding-right: var(--side);
}

.banner {
    padding: var(--small) var(--side);
}

/* Container */
.container {
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
    padding: 0;
}

/* Wrapper */
.wrapper {
    display:flex;
    flex-direction: column;
    padding: 0;
}

.column-hero {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    z-index: 2;
}

.center {
    align-items: center;
}

.column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.vert-center {
    align-items: center;
}

.column-l {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: 1.25fr 1fr;
    gap: 3rem;
    z-index: 100;
}
.column-r {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1.25fr;
    gap: 3rem;
    z-index: 100;
}

.card-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1rem;
}

.btn-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
    width: 100%;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 2rem;
}

.banner-wrapper {
    display: flex;
    justify-content: center;
}

/* Margins */
.mt-2 {
    margin-top: 2rem;
}

.mt-4 {
    margin-top: clamp(2rem, 4vw, 4rem); /* Minimum 2rem, scales with viewport width, max 4rem */
}

.mt-8 {
    margin-top: clamp(4rem, 8vw, 8rem); /* Minimum 4rem, scales with viewport width, max 8rem */
}

/* Text Styles */
.page-title {
    font-family: var(--title-font);
    font-weight: 500;
    font-size: var(--page-title);
    font-style: var(--title-style);
    color: var(--green-500);
    margin: 0;
    padding: 0;
}

.section-title {
    font-family: var(--title-font);
    font-weight: 500;
    font-size: var(--section-title);
    font-style: var(--title-style);
    color: var(--green-500);
    margin: 0;
    padding: 0;
}

.sub-title {
    font-family: var(--title-font);
    font-weight: 500;
    font-size: var(--sub-title);
    font-style: var(--title-style);
    color: var(--green-500);
    margin: 0;
    padding: 0;
}

.md-title {
    font-family: var(--title-font);
    font-weight: 500;
    font-size: var(--md-title);
    font-style: var(--title-style);
    color: var(--green-500);
    margin: 0;
    padding: 0;
}

.wheat {
    color: var(--wheat-500);
}

.center {
    text-align: center;
}
.white {
    color: var(--white);
}
.short {
    max-width: 60rem;
    margin: auto;
}
.underline {
    background-image: linear-gradient(180deg, rgba(237,211,159,0) 45%, var(--wheat-500) 45%, var(--wheat-500) 90%, rgba(237,211,159,0) 90%);
}

.text {
    font-family: var(--body);
    font-size: var(--text);
    color: var(--gray-700);
    margin-top: 1rem;
    padding: 0;
}

.small-text {
    font-family: var(--body);
    font-size: var(--small-text);
    color: var(--gray-700);
    margin-top: 1rem;
    padding: 0;
}

.white {
    color: var(--white);
}

.wheat {
    color: var(--wheat-500);
}

.bold-gray {
    font-weight: 700;
    color: var(--gray-400);
}

/* Image Styles */
.hero-img {
    display: block;
    position: relative;
    z-index: 100;
    max-width: 100%;
    margin-top: -8rem;
}

.img {
    max-width: 100%;
}

.cart {
    max-width: 90%;
}

/* Buttons */
a {
    text-decoration: none;
    cursor: pointer;
}
.btn {
    padding: 0.75rem 1.25rem;
    border: solid 3px var(--green-500);
    background-color: var(--green-500);
    font-family: var(--title-font);
    font-size: 1.35rem;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--white);
    box-sizing: border-box;
    align-self: center;
    max-height: none;
    transition: all 0.2s ease-in-out;
    margin: 0;
}
.btn:hover {
    background-color: var(--wheat-500);
    border: solid 3px var(--wheat-500);
    color: var(--green-500);
    transition: all 0.2s ease-in-out;
    box-shadow: var(--shadow);
}

.secondary {
    background-color: transparent;
    border: solid 3px var(--green-500);
    color: var(--green-500);
    transition: all 0.2s ease-in-out;
}
.secondary:hover {
    background-color: var(--green-500);
    border: solid 3px var(--green-500);
    color: var(--white);
    transition: all 0.2s ease-in-out;
    box-shadow: var(--shadow);
}

.btn-text {
    width: 100%;
    display: inline-flex;
    white-space: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem 1.25rem 0.5rem 0;
    font-family: var(--title-font);
    color: var(--green-500);
    font-size: 1.75rem;
    line-height: 1;
    text-decoration: none;
    gap: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn-icon {
    fill: var(--green-500);
    max-height: 1.5rem;
    transition: all 0.2s ease-in-out;
}

.btn-text:hover {
    color: var(--wheat-500);
    transition: all 0.2s ease-in-out;
}

.btn-text:hover .btn-icon {
    fill: var(--wheat-500);
    transform: translateX(0.25rem);
    transition: all 0.2s ease-in-out;
}

.outline {
    border: 3px solid var(--white);
    background-color: transparent;
    color: var(--white);
    transition: all 0.2s ease-in-out;
}
.outline:hover {
    background-color: var(--wheat-500);
    border: 3px solid var(--wheat-500);
    transition: all 0.2s ease-in-out;
}

/* Cards */
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--white);
    padding: 1rem 1.25rem;
    box-shadow: var(--shadow);
    margin: 0;
    border-radius: 0.125rem;
}

    /* Cookie Pop-up Styles */
    .cookie-popup {
    position: fixed; /* Ensures it's attached to the viewport */
    bottom: 0; /* Stick to the bottom of the screen */
    left: 0; /* Align to the left edge */
    width: 100%; /* Stretch to full width */
    padding: 1.25rem;
    background-color: var(--white);
    color: var(--green-700);
    box-shadow: var(--shadow);
    z-index: 1000; /* Ensure it appears above all other elements */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}


    .cookie-text {
        font-family: var(--body);
        font-size: var(--small-text);
        color: var(--green-700);
        text-align: center;
        margin: 0;
    }

    .cookie-link {
        color: var(--green-500);
        text-decoration: underline;
        cursor: pointer;
    }

    .cookie-buttons {
        display: flex;
        gap: 1rem;
        justify-content: center;
        width: 100%;
    }

    .cookie-popup .btn {
        padding: 0.5rem 1.25rem;
        font-size: var(--text);
        text-transform: uppercase;
        transition: var(--hover);
    }

/* Mobile Styles */

@media (max-width: 1350px) {
    .column-hero {
        grid-template-columns: 4fr 5fr;
    }
}

@media (max-width: 1200px) {
    .column-hero {
        grid-template-columns: 1fr;
    }
    .hero-img {
        display: none;
    }
    .hero {
        margin-top: 0;
        order: -1;
        width: 100%;
        max-height: 15rem; 
    }
}

@media (max-width: 1024px) {
    .column-l {
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
    }
    .column-r {
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
    }
    .column {
        grid-template-columns: 1fr;
    }
    .btn-grid {
        grid-template-columns: 1fr;
    }
    .image-btn-wrap {
        max-height: 15rem;
    }
    .img-main {
        width: 100%;
    }
    .first {
        order: -1;
    }
}

@media (max-width: 970px) {
    .btn-text {
        font-size: 1.5rem;
    }
    .top-banner {
        height: 10rem;
    }
}

@media (max-width: 540px) {
    .btn {
        width: 100%;
    }
}

@media (max-width: 370px) {
    .btn {
        width: 100%;
    }
}